---
fail_fast: false
minimum_pre_commit_version: '0'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-yaml
      - id: check-case-conflict
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: dco-hook-local
        name: DCO hook local
        entry: ./tools/local_hooks/dco-pre-commit-msg.sh
        language: script
        stages: [prepare-commit-msg]
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: [--format, parsable, --strict, -c=.github/workflows/.yamllint]
