name: Deploy Github Pages
on:
  push:
    branches: [main]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy-pages:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: 3.x

      - name: Generate updated inventory
        run: |
          mkdir docs/
          pip install -r .github/scripts/requirements.txt
          python .github/scripts/rules_overview_generator.py --rules_dir=rules > docs/index.md

      - name: Disable Table Of Content for overview
        run: |
          sed -i '1s/^/---\nhide:\n- toc\n---\n\n/' docs/index.md

      - run: pip install mkdocs mkdocs-material

      - run: mkdocs build

      - uses: actions/upload-pages-artifact@v2
        with:
          path: 'site'

      - id: deployment
        uses: actions/deploy-pages@v4
