name: Registry

on:
  pull_request:
    branches:
      - main

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Rules
        uses: actions/checkout@v4

      - name: Setup Golang
        uses: actions/setup-go@v6
        with:
          go-version: '^1.19'

      - name: Build registry artifact tool
        working-directory: build/registry
        run: go build -o rules-registry ./...
      
      - name: Test registry artifact tool
        working-directory: build/registry
        run: go test ./... -cover

      - name: Check Registry validity
        run: build/registry/rules-registry check registry.yaml
