name: Release Rulesfile
on:
  push:
    tags:
      - v*

jobs:
  Release-Rulesfile:
    runs-on: ubuntu-latest

    # These permissions are needed to interact with GitHub's OIDC Token endpoint.
    permissions:
      id-token: write
      contents: read
      packages: write

    env:
      RULES_FILE: falco_rules.yaml

      OCI_REGISTRY: ghcr.io
      OCI_ARTIFACT_NAME: custom-rules
      OCI_ARTIFACT_VERSION: ${{ github.ref_name }}

    steps:

      # Get falcoctl
      - name: Checkout Falcoctl Repo
        uses: actions/checkout@v3
        with:
          repository: falcosecurity/falcoctl
          ref: v0.4.0
          path: falcoctl
      - name: Setup Golang
        uses: actions/setup-go@v4
        with:
          go-version-file: falcoctl/go.mod
          cache-dependency-path: falcoctl/go.sum
      - run: go version
      - name: Build falcoctl
        run: make
        working-directory: falcoctl

      # Get the rules
      - name: Checkout Rules Repo
        uses: actions/checkout@v3
        with:
          path: rules

      # Upload the rules with falcoctl
      - name: Upload OCI artifacts to GitHub packages
        run: |
             falcoctl/falcoctl registry push \
             --config /dev/null \
             --type rulesfile \
             --version ${OCI_ARTIFACT_VERSION} \
             ${OCI_REGISTRY}/${GITHUB_REPOSITORY}/${OCI_ARTIFACT_NAME}:${OCI_ARTIFACT_VERSION} \
             rules/${RULES_FILE}             
        env:
          FALCOCTL_REGISTRY_AUTH_BASIC: ${{ env.OCI_REGISTRY }},${{ github.repository_owner }},${{ secrets.GITHUB_TOKEN }}

